//This is for SCSS or possibly SASS.  If your using just plain old CSS... stop it.  really. stop.

//The main colour used for filled checkboxes and selected dropdown items
$primaryColour:		#47ADE4;

//The above colour when hovered over or tab-highlighted
$primaryHover:		darken($primaryColour, 5%);

//The background of the dropdown box
$dropdownColour:		#FAFAFA;

//The hover colour for all non-selected dropdown items
$dropdownHover:		darken($dropdownColour, 5%);

//The colour for the placeholder text and the disabled dropdown text
$inactiveColour:	#888;

//Pretty self-explanitory, but I'll give it a go.  It's like the stuff that surrounds the dropdown.
$borderColour:		#CCC;

//The colour for the prefix text (if any)
$prefixColour:		#888;


@font-face {
    font-family: "fancySelectJs";
    src: url('../fonts/fancySelectJs.woff') format('woff'), url('../fonts/fancySelectJs.ttf') format('truetype'), url('../fonts/fancySelectJs.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

//The main fancy-select div
.fancySelectJs {
	position: relative;
	display: inline-block;
    min-width: 50px;
    max-width: 100%;
    cursor: default;
    text-align: left;
	border: 1px solid $borderColour;
	box-sizing: border-box;
	//Disabled fancyselect
	&[data-disabled] > .select {
		color: $inactiveColour;
		&:before {
			color: $borderColour;
		}
		.prefix {
			color: $inactiveColour;
			pointer-events: none;
		}
	}
	//The displayed fancy select text
	& > .select {
		position: relative;
		height: 100%;
		max-width: 100%;
		width: 100%;
		z-index: 9;
		padding-left: 7px;
		padding-right: 22px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		overflow: hidden;
		text-overflow: ellipsis;
		outline: none !important;
		box-sizing: border-box;
		&:before {    
			content: "\e600";
			position: absolute;
			top: 0;
			right: 6px;
			font-family: "fancySelectJs";
			font-size: 0.6em;
			color: $borderColour;
		}
		&[data-placeholder] {
			color: $inactiveColour;
			text-indent: 2px;
		}
		.prefix {
			color: $prefixColour;
			pointer-events: none;
		}
	}
}

//The bounding div of the dropdown box
.fancySelectJs_dropdown {
    display: none;
    position: absolute;
    height: auto;
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -1px;
    background-color: $dropdownColour;
    border: 1px solid $borderColour;
    z-index: 9001;
    text-align: left;
	box-sizing: border-box;
	&[data-visible] {
		display: block;   
	}
	//Each option within the dropdown
	& > .option {
		color: #000;
		padding: 10px;
		line-height: 23px;
		font-size: 14px;
		position: relative;
		width: 100%;   
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;
		box-sizing: border-box;
		//Hovered
		&[data-hover] {
			background-color: $dropdownHover;
		}
		//Non-check box
		&:not(.check) {
			//Selected
			&[data-selected] {
				background-color: $primaryColour;
				border-color: #FFF;
				color: #FFF;
				//Selected and hovered
				&[data-hover] {
					background-color: $primaryHover;
				}
			}
		}
		//Check box select
		&.check {
			padding-left: 38px;   
			&:before {
				content: "\e601";
				position: absolute;
				top: calc(50% - 8.5px);
				left: 10px;
				width: 17px;
				height: 17px;
				line-height: 15px;	
				font-family: "fancySelectJs";
				font-size: 12px;
				text-align: center;
				background-color: #FFF;
				border: 1px solid $borderColour;
				border-radius: 1px;
				color: #FFF;
			}
			&[data-selected] {
				&:before {
					background-color: $primaryColour;
					border-color: $primaryColour;
				}
				&[data-hover]:before {
					background-color: $primaryHover;
				}
			}
		}
	}
}